:root {
  /* font-family: system-ui, Roboto, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5;
  font-weight: 400; */
  font-family: 'w95FA', sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #B86566;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border: 1px solid transparent;
  padding: 8px 16px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: lightgray;
  cursor: pointer;
  box-shadow: inset -2px -2px black, inset 2px 2px white, inset -3px -3px gray;
}

button:hover {
  background-color: #0000AA;
}

button span:focus {
  border: dashed black;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.window {
  padding: 2px;
  box-shadow: inset -2px -2px black, inset 2px 2px white, inset -3px -3px gray;
  min-width: 50%;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

#celebration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated-text {
  font-size: 36px;
  position: absolute;
  animation: changeColor 1s infinite step-end;
}

@keyframes changeColor {
  0% { color: pink; }
  25% { color: cyan; }
  50% { color: green; }
  75% { color: orange; }
  100% { color: pink; } /* Ends on the starting color to ensure a smooth loop */
}

.hidden{
  display: none !important;
}